{% extends 'base.html' %}

{% block title %}
Записи на приемы
{% endblock %}

{% block h1 %}
Записи на приемы
{% endblock %}

{% block body %}
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Дата</th>
          <th scope="col">Время</th>
          <th scope="col">Описание проблемы</th>
          <th scope="col">id Пациента</th>
          <th scope="col">id Врача</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.id }}</td>
          <td>{{ appointment.appdate }}</td>
          <td>{{ appointment.apptime }}</td>
          <td>{{ appointment.problem }}</td>
          <td>{{ appointment.patient_id }}</td>
          <td>{{ appointment.doctor_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
<form action="appointments/delete_record" method="POST" class="form-control">
    <input class="form-control" type="text" name="record_id" placeholder="Удалить запись по id">
    <button class="btn btn-success" type="submit">Удалить</button>
</form>

{% endblock %}
