{% extends 'base.html' %}

{% block title %}
Талон
{% endblock %}

{% block h1 %}
Создание талона
{% endblock %}

{% block body %}
<br>
<form action="" method="post" class="form-control">
    <input class="form-control" type="text" name="appdate" placeholder="Дата приема">
    <input class="form-control" type="text" name="apptime" placeholder="Время приема">
    <input class="form-control" type="text" name="problem" placeholder="Код МКБ"><br>
    <input class="form-control" type="text" name="patient_id" placeholder="Карта пациента">
    <input class="form-control" type="text" name="doctor_id" placeholder="Номер врача">
    <button class="btn btn-success" type="submit">Добавить</button>
</form>
{% endblock %}
