{% extends 'base.html' %}

{% block title %}
Записи по талонам
{% endblock %}

{% block h1 %}
Список талонов
{% endblock %}

{% block body %}
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Номер талона</th>
          <th scope="col">Дата</th>
          <th scope="col">Время</th>
          <th scope="col">Код МКБ</th>
          <th scope="col">Карта пациента</th>
          <th scope="col">Номер врача</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.id }}</td>
          <td>{{ appointment.appdate }}</td>
          <td>{{ appointment.apptime }}</td>
          <td>{{ appointment.problem }}</td>
          <td>{{ appointment.patient_id }}</td>
          <td>{{ appointment.doctor_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
<form action="appointments/delete_record" method="POST" class="form-control">
    <input class="form-control" type="text" name="record_id" placeholder="Запись отменена">
    <button class="btn btn-success" type="submit">Отменить</button>
</form>

{% endblock %}
