<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %} {% endblock %}</title>
    <style>
     
        .btn {
            background-color: red;
            color: white;
            font-family: 'Arial', sans-serif; 
        }
        
        .bd-title {
            color: var(--bs-danger-color);
            font-family: 'Courier New', Courier, monospace;
        }
        .mt-0 {
            margin-top: 30px !important; 
        }

        .h1, h1 {
            text-align: center; 
            color: var(--bs-info-color);
            padding: 10px; 
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary rounded" aria-label="Twelfth navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('appointments') }}">Список талонов</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('appointments_edit') }}">Создание талона</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('doctors') }}">Врачи</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('doctors_edit') }}">Создание карты врача</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('patients') }}">Пациенты</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('patients_edit') }}">Создание карты пациента</a></li>

            </ul>
          </div>
        </div>
      </nav>
    <h1 class="bd-title mt-0">{% block h1 %} {% endblock %}</h1>
    {% block body %}
    {% endblock %}
</body>
</html>
