{% extends 'base.html' %}

{% block title %}
Создание карты врача
{% endblock %}

{% block h1 %}
Карта врача
{% endblock %}

{% block body %}
<br>
<form action="" method="post" class="form-control">
    <input class="form-control" type="text" name="lastname" placeholder="Фамилия">
    <input class="form-control" type="text" name="firstname" placeholder="Имя">
    <input class="form-control" type="text" name="patrname" placeholder="Отчество"><br>
    <input class="form-control" type="text" name="spec" placeholder="Должность">
    <input class="form-control" type="text" name="cab" placeholder="Кабинет"><br>
    <button class="btn btn-success" type="submit">Добавить</button>
</form>
{% endblock %}
